<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function show()
        {
            $.ajax({
                url: "/newsData",
                cache: false,
                success: function(html){
                    $("#newsBlock").html(html);
                }
            });
        }

        $(document).ready(function(){
            show();
            setInterval('show()',10000);
        });
    </script>
</head>
<body>
    <div id="newsBlock">

    </div>
</body>
</html>